/************************** Tags **************************/
body {
  background-color: #0B0D17;
  background-repeat: no-repeat;
  background-size: cover;
}
h1, h2, h3, h4, h5{
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}
h1 {
  font-size: 150px;
  font-family: 'Bellefair', serif;;
  color: #FFFFFF;
}
h2 {
  font-size: 100px;
  font-family: 'Bellefair', serif;;
  color: #FFFFFF;
}
h3 {
  font-size: 56px;
  font-family: 'Bellefair', serif;;
  color: #FFFFFF;
}
h4 {
  font-size: 32px;
  font-family: 'Bellefair', serif;;
  color: #FFFFFF;
}
h5 {
  font-size: 28px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 4.75px;
  color: #FFFFFF;
}
p {
  font-size: 16px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2.7px;
  color: #FFFFFF;
}
a {
  font-size: 1.3rem;
  text-decoration: none;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  border-bottom: 5px solid #FFFFFF00;
}
a:not(.active):hover {
  border-bottom: 5px solid #FFFFFF66;
}
td {
    padding-right: 50px;
    padding-bottom: 10px;
}
hr {
  border: 0;
  height: 0;
  border-top: 2px solid #D0D6F940;
}
/************************** Classes **************************/
.s1 {
  font-size: 28px;
  font-family: 'Bellefair', serif;;
  color: #FFFFFF;
  text-transform: uppercase;
}
.s2 {
  font-size: 14px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2.35px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.logo{
  z-index: 1;
  width: 35%;
  height: 48px;
  position: absolute;
  top: 75px;
  left: 50px;
}
.logo img {
  display: inline-block;
  width: 48px;
}
.logo hr{
  display: inline-block;
  width: 70%;
  width: calc(100% - 100px);
  margin: 24px 0 24px 48px;
}
.active {
  border-bottom: 5px solid white;
}
.dark {
  color: #505660;
}
.explore {
  background-color: #FFFFFF;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: #0B0D17;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  transform: translate(50px,50px);
}
.explore:hover{
  border-bottom: 0;
}
.explore h4 {
  color: #0B0D17;
}
.outer-explore{
  border-radius: 50%;
  height: 350px;
  width: 350px;
  background-color: #D0D6F900;
  position: absolute;
  right: 100px;
  bottom: 100px;
}
.outer-explore:hover{
  background-color: #D0D6F940;
}
.link{
  display: inline-block;
  height: 95px;
  line-height: 95px;
  width: auto;
  text-align: center;
  margin: 0 50px 0 0 ;
}
.links {
  backdrop-filter: blur(6px);
  color: #D0D6F9;
  background-color: #8888FF0B;
  position: fixed;
  top: 50px;
  right: 0px;
  width: 55%;
  height: 100px;
  padding-left: 150px;
}
.home-text {
  width: 450px;
  position: absolute;
  bottom: 150px;
  left: 150px;
}
.home-text > *{
  margin: 0;
}
.dest-img {
  position: absolute;
  left: 200px;
  bottom: 100px;
  width: 350px;
}
.dest-content {
  display: inline-block;
  position: absolute;
  right: 200px;
  bottom: 100px;
  width: 450px;
}
.dest-content .link {
  top: 0px;
  height: 50px;
  line-height: 50px;
}
.dest-opening {
  position: absolute;
  top: 210px;
  left: 180px;
}
.crew-img {
  position: absolute;
  right: 10%;
  bottom: 0;
  height: 600px;
}
.crew-opening {
  position: absolute;
  top: 210px;
  left: 180px;
}
.crew-content {
  display: inline-block;
  position: absolute;
  left: 200px;
  bottom: 100px;
  width: 500px;
}
.crew-paragraph{
  width: 450px;
}
.crew-content h4 {
  color: grey;
}
.crew-links {
  width: auto;
  margin-top: 60px;
}
.clink {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #DDDDFF33;
  border-bottom: 0 solid #FFFFFF00;
  margin-right: 15px;
}
.clink.active {
  background-color: #DDDDFF;
}
.clink:not(.active):hover {
  background-color: #DDDDFF88;
  border-bottom: 0 solid #FFFFFF00 !Important;
}
/************************** Identifiers **************************/
#index {
  background-image: url("../assets/home/background-home-desktop.jpg");
}
#dest {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
}
#crew {
  background-image: url("../assets/crew/background-crew-desktop.jpg");
}
